<%= stylesheet_link_tag 'nivo-slider/nivo-slider', :media => 'screen' %>
<%= stylesheet_link_tag 'nivo-slider/themes/default/default', :media => 'screen' %>
<%= javascript_include_tag "jquery.nivo.slider.pack.js" %>

<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
       effect:'fade',
       controlNav:false
    });
});
</script>
  <h1>Sample App</h1>

  <p>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>
  
    <div class="slider-wrapper theme-default span-24 right left last">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            <%= link_to image_tag("In-the-Storm-Be-stil.jpg"), artworks_path %>
            <%= link_to image_tag("Reconciled.jpg"), artworks_path %>
            <%= link_to image_tag("Smoldernig-Reed--that-will-.jpg"), artworks_path %>
            <%= link_to image_tag("WHEN-They-Began-to-Praise--.jpg"), artworks_path %>
        </div>
    </div>
    
      <hr class="space">
      <%= link_to "Go to the Gallery", artworks_path, :class => "big_button round" %>
      
      <hr>
      <h2 class="alt">This sample page demonstrates a tiny fraction of what you get with Blueprint.</h2>
      <hr>
      <div class="span-7 colborder">
        <h6>Here's a box</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
      </div>
      <div class="span-8 colborder">

        <h6>And another box</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat laboris nisi ut aliquip.</p>
      </div>
      <div class="span-7 last">
        <h6>This box is aligned with the sidebar</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
      </div>

      <hr>
      <hr class="space">